.press_footer
  %ul
    %li
      .img.nyt
    %li
      .img
    %li
      .img.mom
    %li
      .img.fastco
    %li
      .img.giga
%footer
  .container.footer-content
    .row  
      %ul
        %li   
          %a{:href => '#'} About
        %li   
          %a{:href => '#'} Jobs
        %li   
          %a{:href => '#'} Blog
        %li   
          %a{:href => '#'} FAQs      
        %li   
          %a{:href => '#'} Feedback      
        %li   
          %a{:href => '#'} Terms & Conditions      

      