%h1.title Icons
%h3 Just add the following classes to elements to insert the icon :before
.well
  .row
    .span5       
      %span.icomoon-star 
      %p .icomoon-star

      %span.icomoon-star2
      %p .icomoon-star2

      %span.icomoon-2cent
      %p .icomoon-2cent

      %span.icomoon-fair
      %p .icomoon-fair



    .span5
      %span.icomoon-mobile
      %p .icomoon-mobile

      %span.icomoon-phone
      %p .icomoon-phone

      %span.icomoon-envelope
      %p .icomoon-envelope

      %span.icomoon-location
      %p .icomoon-location


    .span5

      %span.icomoon-camera
      %p .icomoon-camera


      %span.icomoon-twitter
      %p .icomoon-twitter

      %span.icomoon-facebook
      %p .icomoon-facebook

      %span.icomoon-share
      %p .icomoon-share

    .span5
      %span.icomoon-leftarrow
      %p .icomoon-leftarrow

      %span.icomoon-rightarrow
      %p .icomoon-rightarrow

      %span.icomoon-dino
      %p .icomoon-dino

      %span.icomoon-tag
      %p .icomoon-tag

%pre.prettyprint.linenums
  = preserve do
    :escaped
      %span.icomoon-star 
      %span.icomoon-star2
      %span.icomoon-2cent
      %span.icomoon-mobile
      %span.icomoon-phone
      %span.icomoon-envelope
      %span.icomoon-location
      %span.icomoon-camera
      %span.icomoon-tag
      %span.icomoon-twitter
      %span.icomoon-facebook
      %span.icomoon-leftarrow
      %span.icomoon-rightarrow
      %span.icomoon-dino

      
