%h1.title Inline Labels & Badges
.well
  %h3 Basic Styles 
  %span.label Default
  %span.badge 1  
  %h3 Bootstrap Defaults
  %span.label.label-success Success
  %span.label.label-warning Warning
  %span.label.label-important Important
  %span.label.label-info Info
  %span.label.label-inverse Inverse
  %br
  %br
  %span.badge.badge-success 2
  %span.badge.badge-warning 4
  %span.badge.badge-important 6
  %span.badge.badge-info 8
  %span.badge.badge-inverse 10

%pre.prettyprint.linenums
  = preserve do
    :escaped
      %h3 Basic Styles 
      %span.label Default
      %span.badge 1  
      %h3 Bootstrap Defaults
      %span.label.label-success Success
      %span.label.label-warning Warning
      %span.label.label-important Important
      %span.label.label-info Info
      %span.label.label-inverse Inverse
      %span.badge.badge-success 2
      %span.badge.badge-warning 4
      %span.badge.badge-important 6
      %span.badge.badge-info 8
      %span.badge.badge-inverse 10