%ul.features_nav
  %li
    %a.featured{:href => '#'} 
  %li    
    .btn-group
      %a.my_redrover.dropdown-toggle{"data-toggle" => "dropdown"} 
        My RedRover
        %span.caret
      %ul.dropdown-menu
        %li
          %a{:href => '#'} My RedRover
        %li
          %a{:href => '#'} My Best Day Ever Wizard  
        %li
          %a{:href => '#'} My Saved Places
        %li
          %a{:href => '#'} My Saved Events      
        %li
          %a{:href => '#'} Following
  %li
    %a.fun{:href => '#'} 
  %li  
    %a.doing{:href => '#'} 
  %li
    .btn-group
      %a.browse.dropdown-toggle{"data-toggle" => "dropdown"} 
        My RedRover
        %span.caret
      %ul.dropdown-menu
        %li
          %a{:href => '#'} Events
        %li
          %a{:href => '#'} Places