%h1.title No Results Page
#no_results  
  %h1 
    ="It's in here somewhere!"
    %br 
    Try expanding your search.

%pre.prettyprint.linenums
  = preserve do
    :escaped 
      #no_results  
        %h1 
          ="It's in here somewhere!"
          %br 
          Try expanding your search.
