%h1.title Progress Bars
.well
  .progress.progress-info
    .bar
%pre.prettyprint.linenums
  = preserve do
    :escaped
      .progress.progress-info
        .bar     
/ %h3 Bootstrap Defaults
/ %h6 Success
/ .progress.progress-success
/   .bar{:style => "width: 40%"}
/ %h6 Warning    
/ .progress.progress-warning
/   .bar{:style => "width: 60%"}
/ %h6 Danger
/ .progress.progress-danger
/   .bar{:style => "width: 80%"}