%h1.title Typography
.well
  %h1 h1: Museo Slab 500 - 27px - #333 
  %h2 h2: FuturaT - Regular - 26px - #333 
  %h3 h3: FuturaT - Regular - 19px - #333 
  %h4 h4: FuturaT - Regular - 16px - #333 
  %h5 h5: FuturaT - Regular - 15px - #666666 
  %h6 h6: FuturaT - Regular - 13px - #333 
  %p p: FuturaTT - Regular - 15px - #333                                               

%pre.prettyprint.linenums
  = preserve do
    :escaped
      %h1 h1: Museo Slab 500 - 27px - #333 
      %h2 h2: FuturaT - Regular - 26px - #333 
      %h3 h3: FuturaT - Regular - 19px - #333 
      %h4 h4: FuturaT - Regular - 16px - #333 
      %h5 h5: FuturaT - Regular - 15px - #666666 
      %h6 h6: FuturaT - Regular - 13px - #333 
      %p p: FuturaTT - Regular - 14px - #333                                          
      